h1
{
    color: blue;
    text-align: center;
}
h2
{
    color: brown;
}
h5
{
    font-size: 3.5mm;
    padding-right: 120mm;
    word-spacing: 0.2mm;
}


(pseudo class)
a:link {color: #F00}
a:visited {color: cadetblue; }
a:hover {color: #F0F}
a:active {color: #00F} 